//Primary color theme
$primary-99: #F8FFEA;
$primary-98:#EFFFD9;
$primary-95:#D1FFA2;
$primary-90:#B4F575;
$primary-80:#99D85C;
$primary-70: #7FBC43;
$primary-60: #65A02A;
$primary-50:#4D850C;
$primary-40: #3A6A00;
$primary-35:#325D00;
$primary-30:#2B5000;
$primary-25:#234300;
$primary-20:#1C3700;
$primary-10:#0E2000;

//Neutralneutraltheme
$neutral-99: #FDFCF5;
$neutral-98:#FAFAF2;
$neutral-95:#F2F1EA;
$neutral-90:#E3E3DC;
$neutral-80:#C7C7C0;
$neutral-70: #ABACA5;
$neutral-60: #91918B;
$neutral-50:#777872;
$neutral-40: #5E5F59;
$neutral-35:#52534E;
$neutral-30:#464742;
$neutral-25:#3B3C37;
$neutral-20:#2F312C;
$neutral-10:#1B1C18;
$white:#fff;
$black:#000;