.btn {
  padding: .8rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;

  &-primary {
    background-color: $primary-80;
    color: $primary-20;
    max-width: 18rem;
    width: 100%;

    &--lg {
      color: $primary-20;
      background-color: $primary-80;
      max-width: 24.2rem;
      width: 100%;
    }
  }
}
.gallery {
  margin: 0 auto;
}
.subhead {
  color: $primary-40;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}