@media screen and (max-width: 960px) {
  .mySwiper h3 {
  display:none;
  }
}
.mySwiper2 {
  padding-top:.8rem;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}