#pageSingle {

  .s-hero {
  width: 100%;
  height: 100%;
  padding-top: 21.9rem;
    
    h1 {
      color: $primary-80;
      margin-bottom: 4rem;
    }
    p {
      color:$primary-99;  
    }
  }
  .s-product {
    .product-content{
      max-width: 62.8rem;
      width: 100%;
      ul li{
        list-style: inside;
      }
    }
  }
} 
