#pageSingle {

  .s-hero {
  width: 100%;
  height: 100%;
  padding-top: 21.9rem;
    
    h1 {
      color: $primary-80;
      margin-bottom: 4rem;
    }
    p {
      color:$primary-99;  
    }
    .bg-image {
      position: relative;
      top: 2rem;
    }
    @media screen and (max-width: 960px) {
      padding-top: 12rem;

      // padding-bottom: 12rem;
      // .bg-image {
      //   display: none;
      // }
    }
  }
  .s-product {
    .product-content{
      ul li{
        list-style: inside;
      }
    }
    @media screen and (max-width: 960px) {
      .product-title img {
        display: none;
      }
    }
    .icon-provider {
      object-fit: contain;
    }
  }
}